In [22]:

import os
import pyspark
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.5.3'
spark_version = 'spark-3.5.3'
os.environ['SPARK_VERSION'] = spark_version

# Install Spark and Java
# Use Homebrew to install OpenJDK 11
!brew reinstall openjdk@11

# Set JAVA_HOME
os.environ["JAVA_HOME"] = "/usr/local/opt/openjdk@11"

# Download Spark using curl
!curl -O https://dlcdn.apache.org/spark/spark-3.5.3/spark-3.5.3-bin-hadoop3.tgz

# Extract Spark
!tar xf spark-3.5.3-bin-hadoop3.tgz

# Install findspark
!pip install -q findspark

# Set Environment Variables
os.environ["SPARK_HOME"] = f"{os.getcwd()}/spark-3.5.3-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

# Import packages
from pyspark.sql import SparkSession
import time

==> Downloading https://ghcr.io/v2/homebrew/core/openjdk/11/manifests/11.0.26-1
Already downloaded: /Users/admin/Library/Caches/Homebrew/downloads/6a8d64b799ebc12fb74bf0c886fde0f73187fd5fb76e1504c919a9ee75feb7e8--openjdk@11-11.0.26-1.bottle_manifest.json
==> Fetching openjdk@11
==> Downloading https://ghcr.io/v2/homebrew/core/openjdk/11/blobs/sha256:1d8776a
Already downloaded: /Users/admin/Library/Caches/Homebrew/downloads/566c48b1de86ea41dd60bd4913a0b063d13a7c7d3e06413c8e089e5d501e2575--openjdk@11--11.0.26.arm64_sequoia.bottle.1.tar.gz
==> Reinstalling openjdk@11
==> Pouring openjdk@11--11.0.26.arm64_sequoia.bottle.1.tar.gz
ðŸº  /opt/homebrew/Cellar/openjdk@11/11.0.26: 667 files, 295.3MB
==> Running `brew cleanup openjdk@11`...
Disable this behaviour by setting HOMEBREW_NO_INSTALL_CLEANUP.
Hide these hints with HOMEBREW_NO_ENV_HINTS (see `man brew`).
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   196  100   196    0     0   1889      0 --:--:-- --:--:-- --:--:--  1902
tar: Error opening archive: Unrecognized archive format

In [23]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/admin/Documents/GitHub/Home_Sales/module_22_code/spark-3.5.3-bin-hadoop3/./bin/spark-submit'

In [21]:
# 1. Read the home_sales_revised.csv from the provided AWS S3 bucket location into a PySpark DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
home_sales_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), header=True, inferSchema=True)

NameError: name 'spark' is not defined

In [12]:
# 2. Create a temporary view of the DataFrame.
home_sales_df.createOrReplaceTempView("home_sales")

NameError: name 'home_sales_df' is not defined

In [13]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
avg_price_four_bedroom = spark.sql("""
    SELECT YEAR(date) AS year, ROUND(AVG(price), 2) AS avg_price_four_bedroom
    FROM home_sales
    WHERE bedrooms = 4
    GROUP BY year
    ORDER BY year
""")
print("Average price for a four-bedroom house sold per year:")
avg_price_four_bedroom.show()

NameError: name 'spark' is not defined

In [16]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
avg_price_three_bed_bath = spark.sql("""
    SELECT date_built, ROUND(AVG(price), 2) AS avg_price_four_bedroom
    FROM home_sales
    WHERE bedrooms = 3 AND bathrooms = 3
    GROUP BY date_built
    ORDER BY date_built
""")
print("Average price of a home for each year built (3 bedrooms, 3 bathrooms):")
avg_price_three_bed_bath.show()

NameError: name 'spark' is not defined

In [17]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
avg_price_three_bed_bath_floors = spark.sql("""
    SELECT date_built, ROUND(AVG(price), 2) AS avg_price_four_bedroom
    FROM home_sales
    WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_living >= 2000
    GROUP BY date_built
    ORDER BY date_built
    """)
print("Average price of a home for each year built (3 bedrooms, 3 bathrooms, 2 floors, >=2000 sqft):")
avg_price_three_bed_bath_floors.show()

NameError: name 'spark' is not defined

In [18]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()
avg_price_view_rating = spark.sql("""
    SELECT view, ROUND(AVG(price), 2) AS avg_price
    FROM home_sales
    GROUP BY view
    HAVING avg_price >= 350000
    ORDER BY view DESC
""")
print("Average price of a home per 'view' rating(>= $350,000):")
avg_price_view_rating.show()
print("---%s seconds ---" % (time.time() - start_time))


print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'spark' is not defined

In [24]:
# 7. Cache the the temporary table home_sales.
spark.catalog.cacheTable("home_sales")

NameError: name 'spark' is not defined

In [25]:
# 8. Check if the table is cached.
is_cached = spark.catalog.isCached("home_sales")
print("Is 'home_sales' cached?, is_cached")

NameError: name 'spark' is not defined

In [26]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()
avg_price_view_rating_cached = spark.sql("""
    SELECT view, ROUND(AVG(price), 2) AS avg_price 
    FROM home_sales
    GROUP BY view
    HAVING avg_price >= 350000
    ORDER BY view DESC
""")
print("Average price of a home per 'view' rating (cached, >= $350,000):")
avg_price_view_rating_cached.show()
print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'spark' is not defined

In [27]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
home_sales_df.write.partitionBy("date_built").parquet("home_sales_partitioned.parquet", mode="overwrite")

NameError: name 'home_sales_df' is not defined

In [28]:
# 11. Read the parquet formatted data.
home_sales_partitioned_df = spark.read.parquet("home_sales_partitioned")

NameError: name 'spark' is not defined

In [ ]:
# 12. Create a temporary table for the parquet data.
home_sales_partitioned_df.createOrReplaceTempView("home_sales_partitioned")

In [29]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()
avg_price_view_rating_partitioned = spark.sql("""
    SELECT view, ROUND(AVG(price), 2) AS avg_price
    FROM home_sales_partitioned
    GROUP BY view
    HAVING avg_price >= 350000
    ORDER BY view DESC
""")
print("Average price of a home per 'view' rating (partitioned, >= 350,000):")
avg_price_view_rating_partitioned.show()
print("--- %s ---" % (time.time() - start_time))


print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'spark' is not defined

In [30]:
# 14. Uncache the home_sales temporary table.
spark.catalog.unchacheTable("home_sales")

NameError: name 'spark' is not defined

In [31]:
# 15. Check if the home_sales is no longer cached
print("Is 'home_sales' cached?", spark.catalog.isCached("home_sales"))

NameError: name 'spark' is not defined

In [ ]:
# Stop the Spark Session
spark.stop()